.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #95919144;
  justify-content: space-between;
  padding-right: 20px;
  color: rgb(66, 65, 65);
  font-weight: 400;
}

.header-container img {
  width: 50px;
}
