.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #95919144;
  justify-content: space-between;
  padding-right: 20px;
  color: rgb(66, 65, 65);
  font-weight: 400;
}

.header-container img {
  width: 50px;
}

.content-container {
  margin: 0 auto;
  border: 1px solid #cccc;
  border-radius: 10px;
  margin-top: 50px;
  width: 250px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.welcome h2 {
  font-size: 15px;
  margin-bottom: 0px;
  width: 150px;
  text-align: center;
  line-height: 1.5;
}

.welcome p {
  font-size: 11px;
  color: #667085;
  font-weight: 500;
}

.signup-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 1px solid #f9fafb;
  border-radius: 5px;
  background-color: #f9fafb;
  margin: 0px 20px 0px 20px;
  height: 30px;
}

.login,
.register {
  display: flex;
  color: #667085;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 450;
}

.login:hover,
.register:hover {
  border: 1px solid white;
  background-color: #fff;
  width: 150px;
  border-radius: 5px;
  margin: 0px 20px 0px 20px;
}
